<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyd.cat.dao.TypeMapper">
  <resultMap id="BaseResultMap" type="com.wyd.cat.dto.LifeTypeDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="life_id" jdbcType="INTEGER" property="lifeId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
  </resultMap>
	
	<resultMap id="TYPEResultMap" type="com.wyd.cat.dto.TypeDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
  </resultMap>
	
	
	<select id="getLifeTypeByLifeId" parameterType="int" resultMap="BaseResultMap">
	select
		L.type_id,T.type_name,
		L.create_at,L.create_by,L.update_at,L.update_by,L.is_delete
	from
		tb_life_type L
	left join
		tb_type T
	on 
		L.type_id = T.type_id
	where
		L.life_id = #{lifeId}
	and
		L.is_delete = 'f'	
	</select>
	
	<select id="getAllType"  resultMap="TYPEResultMap">
		select
		T.type_id,T.type_name
	from
		tb_type T
	WHERE
		type_cate != ''
	</select>
	
	<select id="getTypeByCategory"  parameterType="java.lang.String" resultMap="TYPEResultMap">
		select
		T.type_id,T.type_name
	from
		tb_type T
	WHERE
		type_cate = #{category} 
	</select>
	<insert id="insertOneLifeType" parameterType="com.wyd.cat.dto.LifeTypeDto">
	insert into
		tb_life_type
		(
			life_id,
			type_id,
			create_at,
			create_by,
			update_at,
			update_by,
			is_delete
		)
		values 
		(
			#{lifeTypeDto.lifeId},
			#{lifeTypeDto.typeId},
			#{lifeTypeDto.createAt},
			#{lifeTypeDto.createBy},
			#{lifeTypeDto.updateAt},
			#{lifeTypeDto.updateBy},
			#{lifeTypeDto.isDelete}
		)
	</insert>
	
	
	
</mapper>